@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Single Product Using View Bag";
}

<p>Product Code : @ViewBag.Product.PCode</p>
<p>Name : @ViewBag.Product.Name</p>
<p>Quantity in Stock : @ViewBag.Product.QtyInStock</p>
<p>Details : @ViewBag.Product.Details</p>
<p>Price : @ViewBag.Product.Price</p>
